" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

source ~/.vimrc

" Keymaps just for jetbrains ide
map <C-N> <A>1<CR>

" Move around tabs
map <A-l> :tabnext<cr>
map <A-h> :tabNext<cr>


" Enabling Plugins
Plug 'tpope/vim-commentary' " Commentary plugin
Plug 'machakann/vim-highlightedyank' " Highlight copied text
