window {
    background-color: #191724;
    color: #e0def4;

    border: 1.5px solid #ebbcba;
    border-radius: 5px;

    font-size: 15px;
}

#input {
    color: #ebbcba;
    background-color: #1f1d2e;
    margin-bottom: 10px;
}

#inner-box {
    border: none;
    background-color: #191724;
    color: #191724;
}

#outer-box {
    margin: 15px;

    border-radius: 2px;

    background-color: #191724;
}

#text {
    border: none;
    color: #e0def4;
}

#entry {
    margin: 0;
    transition: padding 100ms;
}

#entry:selected {
    background-color: #ebbcba;
    outline: none;
    padding: 5px;
}

#entry:selected * {
    background-color: #ebbcba;
    color: #191724;
}
