### Nix template

# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Ignore the configuration folder for Jetbrains IDEs
.idea/

# Development environment
.direnv/

# Disable vm outputs that are called when starting a vm in this directory
*.qcow
*.qcow2