* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(25, 23, 36, 0.60);
}

button {
    background-color: rgb(31, 29, 46);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    border-radius: 0;
    border-color: rgb(38, 35, 58);
    border-style: solid;
    border-width: 2px;

    text-decoration-color: rgb(224, 222, 244);
    color: rgb(224, 222, 244);

}

button:focus, button:active, button:hover {
    background-color: rgb(25, 23, 36);
    outline-style: none;
}

/* Switch Buttons/Elements */
#switch_gnome, #switch_windows {
    margin-left: 50px;
}