/* colors can be found here: */
/* https://github.com/edunfelt/base16-rose-pine-scheme/blob/main/rose-pine.yaml  */

* {
    background-color: transparent;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    color: @base04;

    min-height: 0;
    padding: 0;
    margin: 0;

    border-radius: 0;
    border: unset;
}

window { background-color: transparent; }
tooltip { background-color: @base00; }

.module {
    background-color: @base00;
    border-radius: 13px;

    min-width: 20px;

    padding: 0 13px;
    margin: 0 3px;
}

.module#mpris,
.module#network,
.module#battery,
.module#bluetooth {
    margin: 0;
}

.module#network {
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    padding: 0 0 0 13px;
}

.module#bluetooth {
    border-radius: unset;
    padding: 0 8px;
}

.module#battery {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    padding: 0 13px 0 0;
}


/* Workspaces */
#workspaces button {
    transition: 0.5s;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px @base0A;
}

#workspaces button.urgent {
    box-shadow: inset 0 -2px @base08;
}