/* General */
* {
    color: @text;
}

.module {
    margin: 5px;
    border-radius: 5px;
}

.modules-right .module,
.modules-center .module {
    border: 2px solid @highlightHigh;
    padding: 5px;
}

.modules-left .module {
    background: @overlay;
}

window#waybar {
    background: transparent;
}

window#waybar.empty {
    background-color: transparent;
}


/* Workspaces */
#workspaces {
    background-color: transparent;
}

#workspaces button:not(:nth-child(1)) {
    margin-left: 5px;
}

#workspaces button {
    background: @overlay;
}

#workspaces button.focused {
    background: @base;

}

/* Audio thingies */
#pulseaudio.bluetooth {
    background-color: @pine;
}

#pulseaudio.muted {
    background-color: @love;

}

/* Battery format */
#battery.full {
    background-color: @pine;
}

#battery.charging {
    background-color: @pine;
}

#battery.warning {
    background-color: @gold;
}

#battery.critical {
    background-color: @love;
}

/* Network */
#network.disconnected,
#network.disabled {
    background-color: @love;

}

#network.ethernet {
    background-color: @gold;
}

#network.wifi {
    background-color: @pine;
}