.theme-dark {
    /* Text Color */
    --text-normal: #FFF !important;
    --text-muted: #B2B2B2 !important;
    --interactive-normal: #B2B2B2 !important;
    --interactive-hover: #B2B2B2 !important;
    --interactive-active: #B2B2B2 !important;
    --interactive-muted: #B2B2B2 !important;

    /* Background */
    --background-primary: #171717;
    --background-secondary: #171717;
    --background-secondary-alt:#171717;
    --background-tertiary: #171717;
    --background-accent: #B2B2B2;
    --background-floating: #242424;
    --background-modifier-hover: #212331c0;
    --background-modifier-active: #282a3680;
    --background-modifier-selected: #24263171;
    --background-modifier-accent: #1e1e29;
    --background-mentioned: #252836;
    --border-mentioned: #474c64;
    --background-mentioned-hover: #2f3344;
    --accent-color: #B2B2B2;

    /* Folder Color */
    --folder-color: #16161e;
    --folder-color-light: #171717;

    /* Scrollbars Color */
    --scrollbar-auto-thumb: #B2B2B2;
    --scrollbar-auto-thumb-hover: #FFF;

}