/* Panel */
#panel {
    background-color: transparent;

    border-radius: 10px;

    margin: 5px 5px 5px 5px;
    transition-duration: 250ms;

}

#panel .panel-button {

    background-color: rgb(38, 38, 38);
    font-weight: bold;

    margin-right: 5px;

    transition-duration: 150ms;

    border: 0px solid transparent;
    border-radius: 12px;

}

#panel .panel-button:active,
#panel .panel-button:overview,
#panel .panel-butto:focus,
#panel .panel-button:checked {
    background-color: rgba(26,26,26, 0.90);
}

#panel .panel-button:hover {
    background-color: rgba(26,26,26, 0.70);
}

/* */